<div class="card card-body">
  <ul>
    <li>
      <div class="row">
        <div>価格</div>
        <div class="price">￥<%=product.price%></div>
      </div>
    </li>
    <li>
      <div class="row">
        <div>在庫状況</div>
        <div>
          <% if (product.countInStock> 0 ) { %>
          <span class="success"> 在庫あり </span>
          <% } else { %>
          <span class="error"> 在庫なし </span>
          <% } %>
        </div>
      </div>
    </li>
    <div class="row">
      <div>数量</div>
    </div>

    <select id="cartNum">
      <option value="0">-</option>
      <% for(let num = 1; num <= product.countInStock; num ++) { %>
      <option value="<%= num %>"><%= num %></option>
      <% } %>
    </select>
    <li>
      <% if (locals.isLoggedIn) { %>
      <form id="cartForm" action="/Cart/<%=product._id%>" method="POST">
        <button class="primary block" 　>カートに追加</button>
      </form>
      <% } else { %>
      <a href="/signUp">
        <button href="/signUp" class="primary block" 　>
          <ul>
            <li>新規登録はこちら</li>
            <li class="small">※新規登録後カート追加が可能です</li>
          </ul>
        </button>
      </a>
      <% } %>
    </li>
  </ul>
</div>
