<div class="row checkout-steps">
    <div class='<%=steps[0]%>'>サインイン</div>
    <div class='<%=steps[1]%>'>発送</div>
    <div class='<%=steps[2]%>'>お支払い</div>
    <div class='<%=steps[3]%>'>注文</div>
</div>