<header class="row">
  <div class="row left"><a href="/" class="logo">Jungle</a></div>
  <div class="row right">
    <div class="menu-container">
        <%if (locals.isLoggedIn) {%> 
        <a href="/cart">カートリスト
        <%if (locals.cartItem.length > 0) {%>
          <span class="badge"><%=locals.cartItem.length%></span>
        <%}%>
        <%}%>
        </a>
        <%if (locals.isLoggedIn) {%>       
        <div class="dropdown"><span><%=locals.userName%></span>
          <ul class="dropdown-content">
            <li><a href="/signOut">サインアウト</a></li>
          </ul>
        </div>
        <% }else { %>
          <a href="/signUp">新規登録</a>
          <a href="/signIn">サインイン</a>
        <% } %>    
    </div>
  </div>
</header>
