<header class="row">
  <div><a href="/" class="logo">Jungle</a></div>
  <div></div>
  <div><a href="/cart">
    カートリスト 
    <%if (locals.cartItem.length > 0) {%>
        <span class="badge"><%=locals.cartItem.length%></span>
    <%}%>
  </a> <a href="/signIn">sign in</a>
  </div>
</header>
