<header class="row">
  <di><a href="/" class="logo">Jungle</a></di>
  <div><a href="/cart">
    カートリスト 
    <%if (locals.cartItem.length > 0) {%>
        <span class="badge"><%=locals.cartItem.length%></span>
    <%}%>
  </a> <a href="#">sign in</a>
  </div>
</header>
