<form action = "/checkOut/4" class="form">
  <div><h1>お支払い</h1></div>
      <div>
        <label for="Visa"><input type="checkbox"> Visa</label>
      </div>
      <div>
        
        <label for="Master"><input type="checkbox"> Master</label>
      </div>
      <div>
        <button class="primary" type="submit">次へ進む</button>
      </div>
</form>
