<form action = "/checkOut/4" class="form"  method="POST">
  <div id="payment-title"><h1>お支払い</h1></div>
      <div>
        <label for="Visa"><input type="radio" name="paymentMethod"> Visa</label>
      </div>
      <div>
        
        <label for="Master"><input type="radio" name="paymentMethod"> Master</label>
      </div>
      <div>
        <button class="primary" id="step3" type="submit">次へ進む</button>
      </div>
</form>
