<div class="row top">
    <div class="col-2">
        <ul>
            <li>
                <div class="card card-body">
                    <h2>配送</h2>
                    <p>
                        <strong>指名:</strong>
                        <strong>住所:</strong>
                    </p>

                </div>
            </li>
        </ul>

    </div>
    <div class="col-1">

    </div>
    <div class="col-3">

    </div>

</div>