<div class="Product-details">
<ul>
  <li>
    <h1><%=product.name%></h1>
  </li>
  <li>
    <%-include('./Rating.ejs',{ rating:product.rating,
    numReviews:product.numReviews });%>
  </li>
  <li>price:￥<%=product.price%></li>
  <li>
    商品詳細
    <p><%=product.description%></p>
  </li>
</ul>
</div>
