<form action ="/checkOut/3" class="form" method="POST">
  <div><h1>住所</h1></div>
  <div>
    <label for="postal-code">郵便番号</label>
    <input id="postal-code" type="text" name="zip11" size="10" maxlength="8" onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');" placeholder="1230012" />
  </div>
  <div>
    <label for="adress">住所</label>
    <input id="adress" type="text" name="addr11" placeholder="サンプル県サンプル市3丁目" />
  </div>
  <div>
    <button id="step2" class="primary" type="submit">次へ進む</button>
  </div>
</form>
