<form class="search">
  <div class="row">
    <input
      type="text"
      name="q"
      id="q"
    ></input>
    <button class="primary" type="submit">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
