<form class="search" action="/api/search/product" method="GET">
  <div class="row">
  <input id="search-input" placeholder="1つキーワードを入力" type="text" name="search_key">
  <button id="search-button" class="primary" type="submit">
    <i class="fa fa-search"></i>
  </button>
  </div>
</form>
