<header class="row">
  <di><a href="#" class="logo">Jungle</a></di>
  <div><a href="/cart">
    カートリスト 
    <%if (cartData.content.length > 0) {%>
        <span class="badge"><%=cartData.content.length%></span>
    <%}%>
  </a> <a href="#">sign in</a></div>
</header>
