<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文履歴</title>
</head>
<body>
    <div><h1>注文履歴</h1></div>
    <table class="table">
    <thread>
        <tr>
            <th>ID</th>
            <th>DATE</th>
            <th>TOTAL</th>
            <th>PAID</th>
            <th>DELIVERED</th>
            <th>ACTIONS</th>
        </tr>
    </thread>
    <tbody>
        <tr> 
        <td>id</td>
        <td>DATE</td>
        <td>TOTAL</td>
        <td>PAID</td>
        <td>DELIVERED</td>
        <td>ACTIONS</td>
        <td>
        <button type="button" class="small">button</button>
        </td> 
        </tr>   
    </tbody>
    </table>

    
</body>
</html>