<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%-include('../Stylesheet');%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品登録</title>
</head>
<body>
    <div class="grid-container">
        <%-include('../Header');%>
        <main>
        <form class="form" action="/api/create/product" method="POST">
          <div><h1>商品登録</h1></div>
              <div>
                <label htmlFor="name">商品名</label>
                <input name="name" type="text" placeholder="Enter name">
              </div>
              <div>
                <label htmlFor="price">価格</label>
                <input name="price" type="text" placeholder="Enter price">
              </div>
              <div>
                <label htmlFor="image">画像</label>
                <input name="image" type="text" placeholder="Enter image" value="">          
              </div>
              <div>
                <label htmlFor="imageFile">画像ファイル</label>
                <input type="file" id="imageFile" label="Choose Image">
              </div>
              <div>
                <label htmlFor="category">カテゴリー</label>
                <input name="category" type="text" placeholder="Enter category">
              </div>
              <div>
                <label htmlFor="brand">ブランド</label>
                <input name="brand" type="text" placeholder="Enter brand">
              </div>
              <div>
                <label htmlFor="countInStock">在庫</label>
                <input name="countInStock" type="text" placeholder="Enter countInStock">
              </div>
              <div>
                <label htmlFor="description">詳細</label>
                <textarea name="description" rows="3" type="text" placeholder="Enter description"></textarea>
              </div>
              <div>
                <label></label>
                <button id="register-button" class="primary" type="submit">
                  登録
                </button>
              </div>
        </form>
    </main>
    <%-include('../Footer');%>
  </div>
  <%-include('../Jquery');%>
</body>
</html>