<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('../Stylesheet');%>
    <title>支払い完了</title>
  </head>
  <body>
    <div class="grid-container">
      <%-include('../Header');%>
      <main>
          <div class="center">
            <h1 class="center message">お支払、完了いたしました。ご利用ありがとうございました！<br>購入された商品は商品ページからレビュー可能です。</h1>
          </div>
      </main>
      <%-include('../Footer');%>
    </div>
    <%-include('../Jquery');%>
  </body>
</html>
