<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Jungle</title>
  </head>

  <body>
    <div class="grid-container">
      <%-include('../partials/Header');%>
      <main>
        <div class="row center">
          <%-include('../partials/ProductCard',{products:products});%>
        </div>
      </main>
      <%-include('../partials/Footer');%>
    </div>
    <%-include('../partials/Jquery');%>
  </body>
</html>
